# Example 1

In [10]:
employee_data = ['Ali', 125000, 'Google', 5]

print(employee_data[0], "is working in", employee_data[2],  "for", employee_data[3], "years and his salary is", employee_data[1])

Ali is working in Google for 5 years and his salary is 125000

# Example 2

In [29]:
studentData = ["Ahmed", "Bilal", "Government College University.", 'Computer Science"', '"BS', 50000,"28 Januray 2020.", "05 February 2020."]

In [31]:
print("Hello", studentData[0], studentData[1],",")
print("Your application is accepted for admission in", studentData[4], studentData[3], "in", studentData[2])
print("You have to submit fee", studentData[5],"before", studentData[6])
print("Your classes will start from", studentData[7])
print("Thanks")

Hello Ahmed Bilal ,
Your application is accepted for admission in "BS Computer Science" in Government College University.
You have to submit fee 50000 before 28 Januray 2020.
Your classes will start from 05 February 2020.
Thanks

# 2. Slicing

In [32]:
cities = ["Faisalabad", "Lahore", "Islamabad", "Peshawar", "Quetta", "Sahiwal", "Rawalpindi", "Sialkot"]

In [37]:
print(cities[0:4])
print(cities[2:6])
print(cities[5:])

['Faisalabad', 'Lahore', 'Islamabad', 'Peshawar']
['Islamabad', 'Peshawar', 'Quetta', 'Sahiwal']
['Sahiwal', 'Rawalpindi', 'Sialkot']

In [40]:
print(cities[-4:-1])
cities[-5:]

['Quetta', 'Sahiwal', 'Rawalpindi']

['Peshawar', 'Quetta', 'Sahiwal', 'Rawalpindi', 'Sialkot']

# 3. Update Lists

In [41]:
studentData = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"]

In [42]:
studentData.append("20 February 2019")

In [44]:
print(studentData)

['Ali Raza', 22, 91.24, 'Computer Science', 5, 'University of Agriculture', '20 February 2019']

In [45]:
studentData.append(8)

In [46]:
print(studentData)

['Ali Raza', 22, 91.24, 'Computer Science', 5, 'University of Agriculture', '20 February 2019', 8]

In [47]:
studentData.insert(4, 25000)

In [49]:
print(studentData)

['Ali Raza', 22, 91.24, 'Computer Science', 25000, 5, 'University of Agriculture', '20 February 2019', 8]

In [50]:
studentData.insert(1,"M. Iqbal")

In [51]:
print(studentData)

['Ali Raza', 'M. Iqbal', 22, 91.24, 'Computer Science', 25000, 5, 'University of Agriculture', '20 February 2019', 8]

In [52]:
studentData[0] = "Zohaib Ali"

In [53]:
print(studentData)

['Zohaib Ali', 'M. Iqbal', 22, 91.24, 'Computer Science', 25000, 5, 'University of Agriculture', '20 February 2019', 8]

In [54]:
studentData[6] = 7

In [55]:
print(studentData)

['Zohaib Ali', 'M. Iqbal', 22, 91.24, 'Computer Science', 25000, 7, 'University of Agriculture', '20 February 2019', 8]

# 4. Multidimensional list tasks

In [21]:
employeeData = [["Ali", 35000, "Software Engineer"],
               ["Talha", 55000, "Product Manager"],
               ["Nasir", 79000, "Computer Engineer"],
               ["Khalid", 44000, "DBA"]]

In [22]:

for i in employeeData:
    if i[1] > 50000:
        print(i[0])

Talha
Nasir

In [6]:
total_salery = 0
for item in employeeData:
    total_salery += item[1]

In [7]:
total_salery

213000

In [11]:
employeeData[2][1] = 90000
employeeData[2].append("Product Manager")

In [12]:
employeeData

[['Ali', 35000, 'Software Engineer'],
 ['Talha', 55000, 'Product Manager'],
 ['Nasir', 90000, 'Computer Engineer', 'Product Manager'],
 ['Khalid', 44000, 'DBA']]

In [13]:
employeeData[3][1] = 50000

In [14]:
employeeData

[['Ali', 35000, 'Software Engineer'],
 ['Talha', 55000, 'Product Manager'],
 ['Nasir', 90000, 'Computer Engineer', 'Product Manager'],
 ['Khalid', 50000, 'DBA']]

In [77]:
User_name = "Muhammad Bilal"
password = 12345678
e_mail = "bilal123@gmail.com"

In [83]:
if User_name == "Muhammad Bilal" and password == 12345678:
    if e_mail == "bilal123@gmail.com":
        print("Login Succeed")
    else:
        print("Email not verified")
        
else:
    print("Incorrect Login details")

Login Succeed